<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
    <!-- NAVBAR -->
    <header class="header">
        <div class="logo-box-todo">
            <a href="../index.html">
            <img src="../assets/img/logo.png" width="30" alt="logo_tareas" class="logo">
            </a>
        </div>

        <nav class="nav-container">
            <div class="nav-links">

                <div class="nav-item dropdown">
                    <a class="dropdown-toggle">
                    Tableros <span class="arrow">▼</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="../view/tablero.html"  class="dropdown-toggle"><h4>Administración de tableros</h4></a>
                        <p>Consulta, crea, elimina o edita tus tableros.</p>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="dropdown-toggle">
                    Tareas <span class="arrow">▼</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="../view/usuarios.html"><h4>Gestionar tareas</h4></a>
                        <p>Crea, asigna y monitorea tus tareas de forma sencilla.</p>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="dropdown-toggle">
                    Usuarios <span class="arrow">▼</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="../view/usuarios.html"><h4>Gestión de usuario</h4></a>
                        <p>Crea y edita tu usuario dentro de tus tableros.</p>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="dropdown-toggle">
                    Reportes <span class="arrow">▼</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="#"><h4>Panel de reportes</h4></a>
                        <p>Visualizar el progreso, análiza el rendimiento y mejora la productividad de tu equipo.</p>
                    </div>
                </div>

            </div>

            <div class="nav-actions">
                <a href="../view/login.html" class="login">Iniciar sesión</a>
                <a href="../view/registro.html">
                    <button class="btn-primary">Registrarse</button>
                </a>
            </div>
        </nav>
    </header>

    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-content">
            <h1 class="title">Reportes</h1>
            <p class="subtitle">
                Los reportes de TaskColab te permiten entender el progreso de tus proyectos,
                identificar cuellos de botella y mantener la pruductividad de tu equipo
            </p>
            <a href="../view/registro.html">
                <button class="btn-secondary">Generar reporte</button>
            </a>
            
        </div>
    </section>

    <!-- FEACTURES -->
    <section class="features-reportes">
        <div class="features-grid-reportes">
            <h3>Tipos de reportes</h3>
            <div class="feactures-item-repo">
                <div class="item-header-repo">
                    <img src="../assets/img/progreso-reportes.png" alt="imagen de una grafica de progreso">
                    <p>Reporte de progreso</p>
                </div>
                <div class="item-header-repo">
                    <img src="../assets/img/equipo-reportes.png" alt="imagen de un equipo de trabajo de reportes">
                    <p>Reporte de equipo</p>
                </div>
                <div class="item-header-repo">
                    <img src="../assets/img/historial-reportes.png" alt="imagen de historial">
                    <p>Historial de actividades</p>
                </div>
                <div class="item-header-repo">
                    <img src="../assets/img/calendario-reportes.png" alt="Imagen de un calendario">
                    <p>Cumplimiento de fechas</p>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN FEATURES -->
    <section class="main-features-reportes">
        <h3>Ventajas de la función de reportes</h3>
        <p>Los reportes te ayudan a visualizar la salud de 
            tus proyectos y mejorar continuamente
        </p>
        <div class="main-features-list-repo">
            <div class="feature-card-repo">
                <img src="../assets/img/card-reportes1.png" alt="">
                <p>Análisis visual con gráficas intuitivas</p>
            </div>
            <div class="feature-card-repo">
                <img src="../assets/img/card-reportes2.png" alt="">
                <p>Datos centralizados para decisiones rápidas.</p>
            </div>
            <div class="feature-card-repo">
                <img src="../assets/img/card-reportes3.png" alt="">
                <p>Filtros por usuario, tablero y estado</p>
            </div>
            <div class="feature-card-repo">
                <img src="../assets/img/card-reportes4.png" alt="">
                <p>Detección temprana de problemas</p>
            </div>
        </div>
        <a href="../view/registro.html">
            <button class="btn-primary">Ver reportes</button>
        </a>
    </section>


    <!-- CTA -->
    <section class="cta">
        <p>Comprueba cómo los reportes de TaskColab te ayudan a mejorar
            la gestión de tu equipo.
        </p>
        <a href="../view/registro.html">
            <button class="btn-secondary">Probar reportes</button>
        </a>
        
    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <p>© 2025 Task<span class="colab-black">Colab</span> - Todos los derechos reservados.</p>
    </footer>

    <script src="../assets/javascript/menu.js"></script>
</body>
</html>