<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
    <!-- NAVBAR -->
    <header class="header">
        <div class="logo-box-todo">
            <a href="../index.html">
            <img src="../assets/img/logo.png" width="30" alt="logo_tareas" class="logo">
            </a>
        </div>

        <nav class="nav-container">
            <div class="nav-links">

                <div class="nav-item dropdown">
                    <a class="dropdown-toggle">
                    Tableros <span class="arrow">▼</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="../view/tablero.html"><h4>Administración de tableros</h4></a>
                        <p>Consulta, crea, elimina o edita tus tableros.</p>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="dropdown-toggle">
                    Tareas <span class="arrow">▼</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="#"><h4>Gestionar tareas</h4></a>
                        <p>Crea, asigna y monitorea tus tareas de forma sencilla.</p>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="dropdown-toggle">
                    Usuarios <span class="arrow">▼</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="../view/usuarios.html"><h4>Gestión de usuario</h4></a>
                        <p>Crea y edita tu usuario dentro de tus tableros.</p>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="dropdown-toggle">
                    Reportes <span class="arrow">▼</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="../view/reportes.html"><h4>Panel de reportes</h4></a>
                        <p>Visualizar el progreso, análiza el rendimiento y mejora la productividad de tu equipo.</p>
                    </div>
                </div>

            </div>

            <div class="nav-actions">
                <a href="../view/login.html" class="login">Iniciar sesión</a>
                <a href="../view/registro.html">
                    <button class="btn-primary">Registrarse</button>
                </a>
            </div>
        </nav>
    </header>

    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-content">
            <h1 class="title">Tareas</h1>
            <p class="subtitle">
               Desde una sola vista puedes crear, editar y asignar tareas, mantener
               la comunicación activa y ver el progreso.
            </p>
            <a href="../view/registro.html">
                <button class="btn-secondary">Crear gratis</button>
            </a>
        </div>
    </section>

    <!-- WHY SECTION -->
    <section class="why-tareas">
        <div>
            <h3 class="parte-1">Diseñar logo del producto</h3>
            <div class="why-box-tareas">
                <p><img src="../assets/img/usuario-task.png" alt="Imagen de tarea">
                    <strong>Tarea asignada:</strong> Keyra Yariely Grijalva Ochoa
                </p>
            </div>
            <div class="why-box-tareas">
                <p><img src="../assets/img/reloj-task.png" alt="Imagen de fecha">
                    <strong>Fecha limite:</strong> 25 de diciembre, 2025
                </p>
            </div>
            <div class="why-box-tareas">
                <p><img src="../assets/img/priori-task.png" alt="Imagen de estado">
                    <strong>Prioridad:</strong> Alta
                </p>
            </div>
            <div class="why-box-tareas">
                <p><img src="../assets/img/coment-task.png" alt="Imagen de comentarios">
                    <strong>Comentarios:</strong> 
                </p>
            </div>
        </div>
        <div>
            <h3 class="parte-2">Formulario Universidad</h3>
            <div class="why-box-tareas">
                <p><img src="../assets/img/usuario-task.png" alt="Imagen de tarea">
                    <strong>Tarea asignada:</strong> Keyra Yariely Grijalva Ochoa
                </p>
            </div>
            <div class="why-box-tareas">
                <p><img src="../assets/img/reloj-task.png" alt="Imagen de fecha">
                    <strong>Fecha limite:</strong> 25 de diciembre, 2025
                </p>
            </div>
            <div class="why-box-tareas">
                <p><img src="../assets/img/priori-task.png" alt="Imagen de estado">
                    <strong>Prioridad:</strong> Alta
                </p>
            </div>
            <div class="why-box-tareas">
                <p><img src="../assets/img/coment-task.png" alt="Imagen de comentarios">
                    <strong>Comentarios:</strong> 
                </p>
            </div>
        </div>
    </section>

    <!-- FEACTURES -->
    <section class="features-task">
        <div class="features-task-box">
            <h3>Así funcionan los tableros en TaskColab</h3>
            <div class="features-steps">
                <div class="step">
                    <div class="task"><img src="../assets/img/paloma-task.png"></div>
                    <p>Crea tareas desde cualquier tablero.</p>
                </div>
                <div class="step">
                    <div class="task"><img src="../assets/img/paloma-task.png"></div>
                    <p>Asigna tareas de manera responsable y establece fechas limites.</p>
                </div>
                <div class="step">
                    <div class="task"><img src="../assets/img/paloma-task.png"></div>
                    <p>Agregar etiquetas de prioridad o de categorias.</p>
                </div>
                <div class="step">
                    <div class="task"><img src="../assets/img/paloma-task.png"></div>
                    <p>Adjuntar archivos, enlaces, carpetas y mucho mas.</p>
                </div>
                <div class="step">
                    <div class="task"><img src="../assets/img/paloma-task.png"></div>
                    <p>Comenta y puedes darle seguimiento real a todas tus tareas</p>
                </div>
            </div>
            <h3>¡Organiza y controla tus tareas desde un solo lugar!</h3>
            <a href="../view/registro.html">
                <button class="btn-primary">Crea una nueva tarea</button>
            </a>
        </div>
    </section>

    <!-- MAIN FEATURES SECTION -->
    <section class="mmain-features">
        <div class="main-features-grid">
            <div class="feature-item-task">
                <img src="../assets/img/organiza-task.png" alt="imagen de un tablero">
                <p>Organiza tus tareas</p>
            </div>
            <div class="feature-item-task">
                <img src="../assets/img/colabora-task.png" alt="Imagen de tareas">
                <p>Colabora en equipo</p>
            </div>
            <div class="feature-item-task">
                <img src="../assets/img/monitorea-task.png" alt="Imagen de comentarios">
                <p>Monitorea el progreso</p>
            </div>
        </div>
        <a href="../view/registro.html">
            <button class="btn-secondary">Ver cómo funciona</button>
        </a>
        
    </section>

    <!-- CTA -->
    <section class="cta">
        <p>La gestión de tareas nunca fue tan fácil. Con TaskColab,
            podrás lograr mejores resultados.
        </p>
        <a href="../view/registro.html">
            <button class="btn-secondary">Crear cuenta gratis</button>
        </a>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <p>© 2025 Task<span class="colab-black">Colab</span> - Todos los derechos reservados.</p>
    </footer>

    <script src="../assets/javascript/menu.js"></script>
</body>
</html>