<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
    <!-- NAVBAR -->
    <header class="header">
        <div class="logo-box-todo">
            <a href="../index.html">
            <img src="../assets/img/logo.png" width="30" alt="logo_tareas" class="logo">
            </a>
        </div>

        <nav class="nav-container">
            <div class="nav-links">

            <div class="nav-item dropdown">
                <a class="dropdown-toggle">Tableros <span class="arrow">▼</span></a>
                <div class="dropdown-menu">
                <a href="../view/tablero.html">
                    <h4>Administración de tableros</h4>
                    <p>Consulta, crea, elimina o edita tus tableros.</p>
                </a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a class="dropdown-toggle">Tareas <span class="arrow">▼</span></a>
                <div class="dropdown-menu">
                <a href="../view/tareas.html">
                    <h4>Gestionar tareas</h4>
                    <p>Crea, asigna y monitorea tus tareas de forma sencilla.</p>
                </a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a class="dropdown-toggle">Usuarios <span class="arrow">▼</span></a>
                <div class="dropdown-menu">
                <a href="../view/usuarios.html">
                    <h4>Géstor de usuario</h4>
                    <p>Crea y edita tu usuario dentro de tus tableros.</p>
                </a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a class="dropdown-toggle">Reportes <span class="arrow">▼</span></a>
                <div class="dropdown-menu">
                <a href="../view/reportes.html">
                    <h4>Panel de reportes</h4>
                    <p>Visualizar el progreso, análiza el rendimiento y mejora la productividad de tu equipo.</p>
                </a>
                </div>
            </div>

            </div>

            <div class="nav-actions">
            <a href="../view/login.html" class="login">Iniciar sesión</a>
            <a href="../view/registro.html">
                <button class="btn-primary">Registrarse</button>
            </a>
            </div>
        </nav>
    </header>




    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-content">
            <h1 class="title">Usuarios</h1>
            <p class="subtitle">
               En TaskColab, cada usuario tiene sus espacio, su rol y su voz.
               Administra tu equipo con facilidad y mantén la productividad.
            </p>
            <a href="../view/registro.html">
                <button class="btn-secondary">Crear gratis</button>
            </a>
        </div>
    </section>

        
    <!-- WHY SECTION -->
    <section class="why-usuarios">
        <div class="why-parte1-usuarios">
            <h3>Personaliza tu propio perfil</h3>
            <p>
                Cada usuario tiene un espacio unico done puede gestionar su información personal, foto 
                de perfil, plografia y proyectos activos. Esto ayuda a mantener una identidad clara en el equipo o 
                área de trabajo.
            </p>
        </div>
        <div class="why-parte2-usuarios">
            <div class="why-box-usuarios">
                <div class="user-header">
                <img src="../assets/img/fotouser.png" alt="Imagen de perfil de usuario">
                <div class="user-info">
                    <h3>Diaz Zahir</h3>
                    <h4>zdiaz_23@alu.uabcs.mx</h4>
                </div>
                </div>
                <ul>
                <li>Diseñador Web</li>
                <li>Frontend (Python, Java)</li>
                <li>Backend</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section class="features-usuarios">
        <div class="features-grid-usuarios">
            <div>
                <h3>Controla tu acceso y responsabilidades</h3>
                <p>Define si eres Administrados, colaborador o invitado. <br>
                    Cada rol tiene permisos especificospara la creación o la edcion de los tableros.
                </p>
            </div>
            <div class="feature-item-usuarios">
                <div class="feature-item-header">
                    <img src="../assets/img/admi-user.png" alt="imagen de roles de usuario">
                    <h3>Administrador</h3>
                </div>
                <p>Crea tableros, asigna tareas y gestiona usuarios de los distintos tableros que puedes elaborar</p>
            </div>
            <div class="feature-item-usuarios">
                <div class="feature-item-header">
                    <img src="../assets/img/colabora-user.png" alt="imagen de roles de usuario">
                    <h3>Colaborador</h3>
                </div>
                <p>Edita tareas, comenta y actualiza el progreso del tablero</p>
            </div>
            <div class="feature-item-usuarios">
                <div class="feature-item-header">
                    <img src="../assets/img/invitado-user.png" alt="imagen de roles de usuario">
                    <h3>Invitado</h3>
                </div>
                <p>Solo puede ver tableros y tareas asignadas</p>
            </div>
            <div>
                <h3>Conecta con tu requipo</h3>
                <p>Agrega a compañeros u otros usuarios a tus proyectos, comenta en tiempo real y comparte archivos o enlaces
                    directamente desde tu perfil.
                </p>
                <a href="../view/registro.html">
                    <button class="btn-secondary">Construye tu equipo</button>
                </a>
            </div>
        </div>
    </section>

    <!-- FEACTURES MAIN -->
     <section class="features-usuarios">
        <div class="features-grid-usuarios">
            <div>
                <h3>Seguridad y sincronización</h3>
                <p>TaskColab protege toda la información de los usuarios mediante autenticación segura y protocolos cifrados.
                    Cada perfil y tablero se sincroniza automáticamente en todos tus dispositivos, garantizando que tus datos
                    estén siempre actualizados y disponibles en tiempo real.
                </p>
            </div>
            <div class="feature-item-usuarios">
                <div class="feature-item-header">
                    <img src="../assets/img/candado-user.png" alt="imagen de roles de usuario">
                    <h3>Autenticación segura</h3>
                </div>
                <p>Protege tu cuenta con contraseña cifrada y verificación en dos pasos.</p>
            </div>
            <div class="feature-item-usuarios">
                <div class="feature-item-header">
                    <img src="../assets/img/sincro-user.png" alt="imagen de roles de usuario">
                    <h3>Sincronización</h3>
                </div>
                <p>Los cambios en tareas, tableros o usuarios se actualizan en tiempo real.</p>
            </div>
            <div class="feature-item-usuarios">
                <div class="feature-item-header">
                    <img src="../assets/img/historia-user.png" alt="imagen de roles de usuario">
                    <h3>Historial de actividad</h3>
                </div>
                <p>Revisa acciones recientes y cambios realizados en cada proyecto</p>
            </div>
        </div>
    </section>

    <!-- CTA -->
    <section class="cta">
        <p>Con TaskColab, puedes tener una visión clara de quién hace qué y cuándo.
        </p>
        <a href="../view/registro.html">
            <button class="btn-secondary">Construye tu equipo</button>
        </a>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <p>© 2025 Task<span class="colab-black">Colab</span> - Todos los derechos reservados.</p>
    </footer>

    <script src="../assets/javascript/menu.js"></script>
</body>
</html>